@import "tailwindcss";

@theme {
  --font-sans: var(--font-roboto-flex), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --color-weg-blue: #00579D;
  --color-weg-warning: #EFC906;
  --color-weg-gray:#000000;
  --color-weg-negative:#E71717;
  --color-weg-info:#28B9DA;
  --color-weg-label-warning:#EF8300;
  --color-weg-card-white:#FAFAFE;

}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto);
}